/* *,
*::before,
*::after {
    box-sizing: border-box;
} */

/* =======/ALWAYS ======= */




/* ======= COMMON STYLES ======= */



/* body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin: 0;
}

.list {
  text-decoration: none;
}

.link {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.page-container {
  min-height: 100vh;
  flex-direction: column;
}

img {
  display: block;
}

button {
  cursor: pointer;
}  */


/* ======= /COMMON STYLES ======= */



/* ======= CONTAINER STYLES ======= */


/* .container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
} */


/* ======= /CONTAINER STYLES ======= */


/* ======= SECTION STYLES ======= */


/* .section-title {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
} */


/* ======= /SECTION STYLES ======= */



/* ======= UTILS_VISUALLY_HIDDEN ======= */


/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */


/* ======= /UTILS_VISUALLY_HIDDEN ======= */



/* ======= UTILS_VARIABLES ======= */


/* :root {
  --primary-color: ;
  --secondary-color: ;
  --accent-color: ;
} */


/* ======= /UTILS_VARIABLES ======= */



/* HEADER */

/* .header {
  border-bottom: 1px solid #e7e9fc;
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 999999;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.page-header-container {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.page-navigation {
  display: flex;
  align-items: center;
}

.page-navigation-links {
  display: flex;
  gap: 40px;
}

.page-navigation-adress {
  display: flex;
  gap: 40px;
}

.web-studio {
  text-decoration: none;
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
}

.studio {
  color: #2e2f42;
}

.navigation-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding: 24px 0;
  display: block;
}

/* .navigation-link:hover::after,
.navigation-link:focus::after {
    color: #404bbf;
    display: flex;
    content: "";
    align-items: stretch;
    height: 4px;
    border-radius: 2px;
    background: var(--OCEAN, #404BBF);
    margin-top: 20px;
} */

/* .navigation-link:hover,
.navigation-link:focus {
  color: #404bbf;
}

.current {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.current::after {
  display: flex;
  content: '';
  align-items: stretch;
  height: 4px;
  width: 48px;
  border-radius: 2px;
  background: var(--OCEAN, #404bbf);
  position: absolute;
  left: 0;
  bottom: -1px;
}

.address {
  font-style: normal;
}

.address-link {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
} */ */

/* MAIN */

main {
  flex-grow: 1;
}

.text-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: #2e2f42;
}

/* ====Hero====  */

.hero-container {
  gap: 48px;
}

.hero {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/hero_background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

.hero-title {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  text-align: center;
  margin-top: 0;
  margin-bottom: 48px;
}

.hero-button {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  font-family: 'Roboto', sans-serif;
  margin-left: auto;
  margin-right: auto;
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  align-items: center;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* Our Features */

.our-features-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-features-container {
  margin-left: auto;
  margin-right: auto;
}

.our-features-list {
  display: flex;
  gap: 24px;
}

.our-features-item {
  width: calc((100% - 48px) / 4);
}

.text-title-our-features {
  margin-bottom: 8px;
}

.text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  background-color: #ffffff;
}

.our-features-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background: var(--CLOUD, #f4f4fd);
}

.our-features-icon {
  padding: 24px 100px;
  width: 264px;
  height: 112px;
}

/* Our Team */

.our-team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-team-list .cards {
  background-color: #fff;
  align-items: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  width: calc((100% - 72px) / 4);
}

.team-icons {
}

.our-team-icons {
  fill: #f4f4fd;
}

.our-team-icons-container {
  width: 40px;
  height: 40px;
}

.our-team-icons-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-icons-link:hover,
.our-team-icons-link:focus {
  background-color: #404bbf;
}

.our-team-links {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 32px 0;
}

.our-team-section-title {
  text-align: center;
  margin-bottom: 72px;
}

.our-team-list {
  display: flex;
  gap: 24px;
}

.our-team-text-title {
  margin-bottom: 8px;
}

.our-team-names {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 8px;
  padding: 32px 0;
}

/* Our Portfolio */

.our-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-portfolio-container {
  align-content: center;
}

.our-portfolio-title {
  text-align: center;
  margin-bottom: 72px;
}

.our-portfolio-text-title {
  margin-bottom: 8px;
}

.our-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 72px;
  column-gap: 24px;
  row-gap: 48px;
  align-content: center;
}

.our-portfolio-list:nth-child(2n + 1) {
  row-gap: 0;
}

.our-portfolio-cards {
  background: #fff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-cards:hover,
.our-portfolio-cards:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.our-portfolio-description {
  padding: 32px 16px;
  border: 1px solid var(--cornflower, #e7e9fc);
  border-top: none;
}

.overlay-box {
  position: relative;
  overflow: hidden;
}

.our-portfolio-cards:hover .overlay-text {
  transform: translateY(0);
}

.overlay-text {
  background-color: #4d5ae5;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: #f4f4fd;
  display: block;
  padding: 40px 32px;
  width: 296px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 100%;
  height: 100%;
}

/* FOOTER */

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-about {
  margin-right: 120px;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  width: 264px;
}

.web-studio-footer {
  display: inline-block;
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.studio-footer {
  color: #f4f4fd;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.footer-icons-container {
  width: 40px;
  height: 40px;
}

.footer-icons {
  fill: #f4f4fd;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons:hover,
.footer-icons:focus {
  background-color: #31d0aa;
}

.footer-icons-icon {
  fill: #f4f4fd;
}

.footer-links {
  display: flex;
  gap: 16px;
}

.social-medias {
  display: inline-block;

  margin-right: 80px;
}

.social-media-text {
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 16px;
}

.email-subscribe {
  display: inline-block;
}

.subscribe-footer-text {
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 16px;
}

.footer-email-form {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.footer-email-form-label {
  width: 264px;
  height: 40px;
}

.footer-email-form-input {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: transparent;
  align-items: center;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: #ffffff;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid var(--WHITE, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 8px 16px 8px 16px;
}

.footer-email-form-input::placeholder {
  width: 36px;
  height: 24px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
  display: inline-block;
  padding: 8px 0px;
  align-items: center;
  justify-content: center;
}

.subscribe-footer-button {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  display: inline-flex;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-footer-button:hover,
.subscribe-footer-button:focus {
  background-color: #404bbf;
}

.email-submit-button-icon {
  fill: #ffffff;
  margin-left: 16px;
}

/* ----BACKDROP AND MODAL WINDOW---- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999999999999;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal-container {
  position: absolute;
  display: inline-block;
  width: 408px;
  min-height: 584px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--DAIRY, #fcfcfc);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  border-radius: 50%;
  line-height: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}

.close-btn:hover,
.close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #fff;
}

.close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.modal-name-text {
  width: 360px;
color: var(--NAVY-BLUE, #2E2F42);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-label {
  color: var(--LIGHT-SLATE, #8E8F99);
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: block;
    width: 100%;
    margin-bottom: 4px;
}

.contacts-input-wrapper {
  position: relative;
margin-bottom: 8px;
}

.modal-input {
  display: block;
  width: 360px;
    height: 40px;
border-radius: 4px;
padding-left: 38px;
border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
background-color: transparent;
outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  outline: transparent;
  border-color: #4D5AE5;
}


.modal-label-icon {
  fill: #2E2F42;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-label-icon {
  fill: #4D5AE5;
 }

.contacts-field-wrapper {
  margin-bottom: 8px;
}

.contacts-field-wrapper-user-comment {
  margin-bottom: 16px;
}

 .contacts-comment {
  resize: none;
  display: block;
    width: 360px;
    min-height: 120px;
    border-radius: 4px;
      font-family: Roboto;
      font-size: 12px;
      font-weight: 400;
      line-height: 1.17;
      letter-spacing: 0.04em;
    padding-left: 16px;
    padding-top: 8px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .contacts-comment::placeholder {
  color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
 }

 .contacts-comment:focus {
  outline: transparent;
    border-color: #4D5AE5;
 }


 .contacts-comment {
  margin-bottom: 16px;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
 }

 .contacts-form-checkbox-wrapper {
  margin-bottom: 24px;
  width: 360px;
  position: relative;
 }

 .visually-hidden {
  position: absolute;
  opacity: 0;
    visibility: hidden;
    pointer-events: none;
 }

 .contacts-checkbox-label {
  color: var(--LIGHT-SLATE, #8E8F99);
  font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
 }

 
 .contacts-form-own-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.40);
  border-radius: 2px;
  cursor: pointer;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 
.visually-hidden:checked + .contacts-checkbox-label > .contacts-form-own-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #F4F4FD;
}




 .user-privacy {
  color: var(--IRIS, #4D5AE5);
  font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
 }


.modal-submit-button {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 8px 24px;
  margin-left: auto;
  margin-right: auto;
  gap: 16px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-button:hover,
.modal-submit-button:focus {
  background-color: #404bbf;
}