.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999999999999;
    background-color: rgba(46, 47, 66, 0.4);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal-container {
    position: absolute;
    display: inline-block;
    width: 408px;
    min-height: 584px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--DAIRY, #fcfcfc);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    border-radius: 50%;
    line-height: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2e2f42;
}

.close-btn:hover,
.close-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #fff;
}

.close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.modal-name-text {
    width: 360px;
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.modal-label {
    color: var(--LIGHT-SLATE, #8E8F99);
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: block;
    width: 100%;
    margin-bottom: 4px;
}

.contacts-input-wrapper {
    position: relative;
    margin-bottom: 8px;
}

.modal-input {
    display: block;
    width: 360px;
    height: 40px;
    border-radius: 4px;
    padding-left: 38px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    outline: transparent;
    border-color: #4D5AE5;
}


.modal-label-icon {
    fill: #2E2F42;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus+.modal-label-icon {
    fill: #4D5AE5;
}

.contacts-field-wrapper {
    margin-bottom: 8px;
}

.contacts-field-wrapper-user-comment {
    margin-bottom: 16px;
}

.contacts-comment {
    resize: none;
    display: block;
    width: 360px;
    min-height: 120px;
    border-radius: 4px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    padding-left: 16px;
    padding-top: 8px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-comment::placeholder {
    color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.contacts-comment:focus {
    outline: transparent;
    border-color: #4D5AE5;
}


.contacts-comment {
    margin-bottom: 16px;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
}

.contacts-form-checkbox-wrapper {
    margin-bottom: 24px;
    width: 360px;
    position: relative;
}

.visually-hidden {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.contacts-checkbox-label {
    color: var(--LIGHT-SLATE, #8E8F99);
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}


.contacts-form-own-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    border-radius: 2px;
    cursor: pointer;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.visually-hidden:checked+.contacts-checkbox-label>.contacts-form-own-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}




.user-privacy {
    color: var(--IRIS, #4D5AE5);
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}


.modal-submit-button {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    display: block;
    min-width: 169px;
    height: 56px;
    padding: 8px 24px;
    margin-left: auto;
    margin-right: auto;
    gap: 16px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-button:hover,
.modal-submit-button:focus {
    background-color: #404bbf;
}